.burgerIngridients {
  margin-left: 20px;
  padding-top: 15px;
  max-width: 600px;
}

.title {
  margin-top: 30px;
  margin-bottom: 19px;
}

.burgerLists {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-height: 78vh;
  overflow-y: scroll;
}
.burgerLists::-webkit-scrollbar {
  width: 8px;
}

.burgerLists::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.burgerLists::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.cardsLists {
  padding-left: 16px;
  box-sizing: border-box;
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
}
