.header {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_links {
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 15px;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 9px;
  border-radius: 40px;
  text-decoration: none;
  color: #8585ad;
  cursor: pointer;
  transition: 0.5s;
}

.link:hover {
  color: white;
}

.active {
  display: flex;
  align-items: center;
  column-gap: 9px;
  border-radius: 40px;
  text-decoration: none;
  color: #8585ad;
  cursor: pointer;
  color: white;
}

.logo {
  align-self: center;
  position: absolute;
  top: 20px;
  right: 39%;
}
